* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input[type="radio"]{
  display: none;
}

.star{
  cursor:pointer;
 
  transition: color 200ms;
}