* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(153, 153, 153, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(/Frontend/reactapp/src/pages/images/background.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  .show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 1100px;
  }
  .navbar {
    height: 25%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50%;
    cursor: pointer;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13;
  }
  .row {
    display: flex;
    height: 75%;
    align-items: center;
  }
  .col {
    flex-basis: 50%;
  }
  h1 {
    color: rgb(174, 138, 90);
    font-size: 50px;
    margin-bottom: 40px;
  }
  p {
    color: #501214;
    font-size: 20px;
  }

  .textop{
    background:rgba(255, 255, 255, 0.7);
    height: 35vh;
    position: absolute;
    bottom: 175px;
    padding: 20px 70px;

    text-align: center;
    opacity:1;
  }