* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(174, 138, 90);
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  background: rgb(73, 23, 22);
  width: 450px;
  padding: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: rgb(253, 253, 253);
}
.container form {
  margin-top: -20px;
}
.container form .data {
  height: 45px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
form .data label {
  font-size: 18px;
  color: rgb(174, 138, 90);
}
form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid white;
}
form .data input:focus {
  border-color: rgb(238, 223, 86);
  border-bottom-width: 2px;
}
form .forgot-pass {
  margin-left: -8px;
}
form .forgot-pass a {
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover {
  text-decoration: underline;
}
form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: rgb(174, 138, 90);
  z-index: -1;
  transition: all 0.4s;
}
form .btn:hover .inner {
  left: 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
