* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 15px;

  }

  
  .hcontainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(153, 153, 153, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(/src/pages/images/background.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }


  .show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 1100px;
  }
  
  .navbar {
    height: 25%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50%;
    cursor: pointer;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13;
  }
  .row {
    display: flex;
    height: 75%;
    align-items: center;
  }
  .hcol {
    flex-basis: 50%;
  }
  h1 {
    color: rgb(174, 138, 90);
    font-size: 50px;
  }

  p2 {
    color: azure;
    font-size: 20px;
  }
  