* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.form {
  background-color: rgb(174, 138, 90);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 450px;
  padding: 1rem;
  box-sizing: border-box;
  height: 200px;
  padding: 20px;
  width: 500px;
  display: center;
}
.back {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(247, 246, 241, 0.7),
      rgba(15, 15, 15, 0.7)
    ),
    url(/src/pages/images/campus-2.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar {
  height: 20%;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 13;
}
