* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .pcontainer {
    width: 100%;
    height: 100vh;
    background-color: rgb(174, 138, 90);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  .show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 1100px;
  }
  .navbar {
    height: 25%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50%;
    cursor: pointer;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13;
  }
  .prow {
    display: flex;
    height: 90%;
    align-items: center;
  }
  .col {
    flex-basis: 50%;
  }
  h1 {
    color: rgb(174, 138, 90);
    font-size: 50px;
    margin-bottom: 40px;
  }
  p {
    color: white;
    font-size: 20px;
  }

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
    color: white
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(174, 138, 90);
}

.student-profile .card p {
    font-size: 16px;
    color: black;
}

.pr-1{
  font-size: 16px;
  color:black;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: black;
}

.adjust{
    background-color: #501214;
    width: 100vh;
    height: 75vh;
    padding-left: 1%;
    left: 315px;
    position:absolute;
    top: 155px;
    padding-top: 50px;

}
