.subody {
    align-items: center;
    background-color: rgb(174, 138, 90);
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
.rcontainer{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(153, 153, 153, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(/src/pages/images/background.jpeg);
  
  background-position: center;
  background-size: 100%, 100%;
  background-position: top;

  background-repeat: repeat-y;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  

}



  .form {
    background-color: rgb(73, 23, 22);
    border-radius: 20px;
    box-sizing: border-box;
    height: 1375px;
    padding: 20px;
    width: 500px;
    margin: auto;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .subtitle {
    color: rgb(196, 193, 193);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .inputcontainer {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .inputcontainer2 {
    height: 250px;
    position: relative;
    top: 50px;
    width: 100%;
  }


  .ic1 {
    margin-top: 20px;
  }
  
  .ic2 {
    margin-top: 20px;
  }
  
  .ic3 {
    margin-top: 20px;
  }
  .ic4 {
    margin-top: 20px;
  }
  
  .input {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: rgb(73, 23, 22);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 106px;
  }

  .cutbig {
    background-color: rgb(73, 23, 22);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 172px;
  }

  .input:focus ~ .cutbig,
  .input:not(:placeholder-shown) ~ .cutbig {
    transform: translateY(8px);
  }
  
  .cutshort {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: white;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: rgb(174, 138, 90);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 40px;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
    
  .navbar {
    height: 25%;
    display: flex;
    align-items: center;
  }

  .starsystem{
    position: relative;
    top: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 26px;
  }
  
 
